//- module
-
  var name = "科比";
  var me = [
    {id: "001", year: 2008},
    {id: "002", year: 2008},
    {id: "008", year: 2009},
    {id: "013", year: 2009},
    {id: "017", year: 2009},
    {id: "022", year: 2009},
    {id: "027", year: 2012},
    {id: "034", year: 2008},
    {id: "035", year: 2008},
    {id: "037", year: 2008},
    {id: "041", year: 2008},
    {id: "055", year: 2009},
    {id: "070", year: 2008},
    {id: "072", year: 2008},
    {id: "075", year: 2008},
    {id: "077", year: 2008},
    {id: "083", year: 2009}
  ]
