//- module
-
  var name = "雪倫";
  var me = [
    {id: "075", year: 2008},
    {id: "072", year: 2022},
    {id: "070", year: 2010},
    {id: "035", year: 2010},
    {id: "034", year: 2010},
    {id: "037", year: 2018},
    {id: "002", year: 2008}
  ]
