//- module
-
  var name = "科比";
  var me = [
    {id: "026", year: 2008},
    {id: "009", year: 2007},
    {id: "016", year: 2008},
    {id: "019", year: 2008},
    {id: "013", year: 2008},
    {id: "014", year: 2008},
    {id: "015", year: 2008},
    {id: "018", year: 2008},
    {id: "051", year: 2012},
    {id: "048", year: 2008},
    {id: "012", year: 2008},
    {id: "027", year: 2009},
    {id: "008", year: 2009},
    {id: "006", year: 2008},
    {id: "005", year: 2007},
    {id: "017", year: 2008},
    {id: "010", year: 2009},
    {id: "058", year: 2020},
    {id: "030", year: 2014},
    {id: "001", year: 2007},
    {id: "002", year: 2008},
    {id: "047", year: 2017},
    {id: "022", year: 2010},
    {id: "037", year: 2020},
    {id: "028", year: 2009},
    {id: "034", year: 2019},
    {id: "003", year: 2010},
    {id: "039", year: 2008}
  ]
